<div class="w-full fixed z-20 text-white">
  <nav class="top-0 mx-auto h-fit bg-dark-backdrop rounded-3xl container">
    <div class="flex flex-wrap items-center justify-between p-4">
      <a href="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
        <div class="text-center">
          <h1
            class="text-[2rem] md:text-[3rem] leading-[0.8] font-light text-main"
            style="font-family: 'Great Vibes', cursive"
          >
            Mohamed Anwar
          </h1>
        </div>
      </a>
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <a
          href="/files/Mohamed-Anwar_CV.pdf"
          download="Mohamed-Anwar-CV.pdf"
          class="inline-flex items-center gap-2 text-main cursor-pointer bg-transparent hover:bg-main hover:text-white border border-main font-medium rounded-base text-sm px-8 py-3"
        >
          Resume
          <i class="fa-solid fa-download"></i>
        </a>
        <button
          data-collapse-toggle="navbar-sticky"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
          aria-controls="navbar-sticky"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="M5 7h14M5 12h14M5 17h14"
            />
          </svg>
        </button>
      </div>
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-sticky"
      >
        <ul
          class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-default rounded-base md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
        >
          <li class="hover:bg-hover rounded p-2 transition-all duration-700">
            <a
              href="/home"
              class="block py-3 px-4 text-white bg-main hover:text-black duration-300 rounded-sm md:bg-transparent md:text-main md:p-0"
              aria-current="page"
              >Home</a
            >
          </li>
          <li class="hover:bg-hover rounded p-2 transition-all duration-700">
            <a
              href="/projects"
              class="block py-3 px-4 text-main rounded hover:text-black duration-300 hover:bg-hover md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:bg-transparent"
              >Projects</a
            >
          </li>
          <li class="hover:bg-hover rounded p-2 transition-all duration-700">
            <a
              href="/experience"
              class="block py-3 px-4 text-main rounded hover:text-black duration-300 hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:bg-transparent"
              >Experience</a
            >
          </li>
          <li class="hover:bg-hover rounded p-2 transition-all duration-700">
            <a
              href="/education"
              class="block py-3 px-4 text-main rounded hover:text-black duration-300 hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:bg-transparent"
              >Education</a
            >
          </li>
          <li class="hover:bg-hover rounded p-2 transition-all duration-700">
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSeP_QjlPpbvFHHj4lgp-JmmfoBsoeX9_4B4P2FqPoLiCrlnHQ/viewform?usp=publish-editor"
              class="block py-3 px-4 text-main rounded hover:text-black duration-300 hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:bg-transparent"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
