<!-- education page -->
<div>
  <div class="content mt-10 text-center">
    <h1 class="text-main text-5xl font-bold">Degrees and Qualifications</h1>
    <p class="text-gray-500 mx-auto mt-7 font-medium w-96">
       A Journey of Continuous Learning:
      Building Skills, Solving Problems, and Shaping the Future
      
    </p>
  </div>

  <div class="mt-20">
    <h1 class="text-main text-5xl font-bold text-center">My Degrees</h1>

    <div class="grid lg:grid-cols-4 md:grid-cols-1 gap-3 mx-auto  my-20 ">
      <div class="img w-fit  ">
        <img class="w-80 mx-5" src="/images/hti logo.jpeg" alt="hti logo" />
        <p class="text-center font-bold text-gray-500">2023 - 2027</p>
      </div>
      <div class="content lg:w-[65vw] mx-5">
        <h1 class="text-4xl font-medium">Bachelor of computer science (CS)</h1>
        <h4 class="my-3 font-bold text-[19px]">Higher Technological Institute (HTI)</h4>
        <p class="text-[19px]">
          Studied foundational subjects like Data Structures, Database Management Systems, Discrete
          Mathematics, and Operating Systems, building a strong base in computer science.
        </p>
        <p class="my-2 text-[19px]">
          Explored Object-Oriented Programming, Software Engineering, Computer Networks, and
          Microprocessor & Interfacing, bridging software development with hardware understanding.
        </p>
        <p class="text-[19px]">
          Gained insights into Big Data Analytics, Artificial Intelligence, Data Mining, and Data
          Visualization, equipping skills for modern computing challenges.
        </p>
        <a href="https://hti.edu.eg/site/home"
          ><button class="text-[#6366F1] cursor-pointer mt-4">
            View Website <i class="fa-solid fa-arrow-right"></i></button
        ></a>
      </div>
    </div>
  </div>
</div>
