<!-- experience-page -->
<div class="experience">
  <div class="text-center">
    <h1 class="text-main text-5xl font-bold">My Experience</h1>
    <p class="text-gray-500 font-medium mt-3">My work and Internships</p>
  </div>
  <div class="intern">
    <div class="mt-20">
      <h1 class="text-main text-5xl font-bold text-center">Internships</h1>

      <div class="grid lg:grid-cols-4 md:grid-cols-1 gap-3 container mx-auto my-20">
        <div class="img w-fit ">
          <img src="/images/route.png" alt="route logo" />
          <p class="text-center font-medium text-gray-500 mt-4">Route Academy</p>
        </div>
        <!-- intern content -->
        <div class="border-l-2 border-gray-500">
          <div class="content lg:w-[65vw] ml-5 ">
            <h1 class="text-2xl font-medium">Front-End developer Intern <span class="text-gray-500 text-[13px]">(Full Time)</span></h1>
            <h4 class="my-3 font-medium">June 2025 - January 2026</h4>
            <p >Learned HTML5, CSS3, and JavaScript for building responsive and interactive web applications.
            </p>
            <p class="my-2 ">
              Developed modern user interfaces using Bootstrap,Tailwind and responsive web design techniques.
            </p>
            <span class="text-gray-500"><i class="fa-solid fa-arrow-down text-main"></i> (Framework) </span>
            <p class="my-2 ">
              Worked with TypeScript and Angular framework to build scalable Single Page Applications (SPA).
            </p>
            <p class="my-2 ">
              Implemented Angular concepts such as Components, Services, Modules, Routing, Directives, Pipes, and Dependency Injection.
            </p>
            <p class="my-2 ">
              Consumed RESTful APIs and handled HTTP requests using Angular HttpClient.
            </p>
            <p class="my-2 ">
              Applied form handling and validation using Template-Driven Forms and Reactive Forms.
            </p>
            <a href="https://routeeg.com/"
              ><button class="text-[#6366F1] cursor-pointer mt-4">
                View Website <i class="fa-solid fa-arrow-right"></i></button
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
